.container {
  padding: 0 2rem;
}

.i18n {
  align-items: center;
  column-gap: 0.5rem;
  display: flex;
  height: 2rem;
  justify-content: flex-end;
}

.main {
  min-height: 100vh;
  padding: 0 0 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  color: #c3c5cb;
}

.demo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;
  gap: 1rem;
}

.connectors {
  align-self: flex-start;
  border-radius: 1em;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1520 960' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1280 0V1200' stroke='%23ADB5BD' stroke-width='0.8' stroke-linejoin='round' stroke-dasharray='1 4'/%3E%3Cpath d='M960 0V1200' stroke='%23ADB5BD' stroke-width='0.8' stroke-linejoin='round' stroke-dasharray='1 4'/%3E%3Cpath d='M640 0V1200' stroke='%23ADB5BD' stroke-width='0.8' stroke-linejoin='round' stroke-dasharray='1 4'/%3E%3Cpath d='M320 0V1200' stroke='%23ADB5BD' stroke-width='0.8' stroke-linejoin='round' stroke-dasharray='1 4'/%3E%3Cpath d='M160 0V1200' stroke='%23ADB5BD' stroke-width='0.8' stroke-linejoin='round' stroke-dasharray='1 4'/%3E%3Cpath d='M1440 0V1200' stroke='%23ADB5BD' stroke-width='0.8' stroke-linejoin='round' stroke-dasharray='1 4'/%3E%3Cpath d='M1120 0V1200' stroke='%23ADB5BD' stroke-width='0.8' stroke-linejoin='round' stroke-dasharray='1 4'/%3E%3Cpath d='M800 0V1200' stroke='%23ADB5BD' stroke-width='0.8' stroke-linejoin='round' stroke-dasharray='1 4'/%3E%3Cpath d='M480 0V1200' stroke='%23ADB5BD' stroke-width='0.8' stroke-linejoin='round' stroke-dasharray='1 4'/%3E%3Cpath d='M80 0V1200' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1360 0V1200' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1040 0V1200' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M720 0V1200' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M400 0V1200' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M240 0V1200' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1520 0V1200' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1200 0V1200' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M880 0V1200' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M560 0V1200' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1920 0H0' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1920 80H0' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1920 160H0' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1920 240H0' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1920 320H0' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1920 400H0' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1920 480H0' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1920 560H0' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1920 640H0' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1920 720H0' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1920 800H0' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1920 880H0' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3Cpath d='M1920 960H0' stroke='%23ADB5BD' stroke-width='0.4' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  background-color: #121212;
}
@keyframes spotlight {
  10% {
    background-color: #e2e3e9;
  }
  20% {
    background-color: #e2e3e9;
  }
}

.connectors:focus {
  animation: 2.5s ease-out 1 spotlight;
}

.widget {
  background-color: #f7f8fa;
  border-radius: 1rem;
  width: 360px;
}

.rule {
  border: 1px solid #c3c5cb;
  margin: 0;
  width: calc(100% - 2rem);
  max-width: 664px;
}

@media (max-width: 727px) {
  .demo {
    flex-direction: column;
  }

  .connectors {
    align-self: center;
  }
}
